<% @band = Band.find_by_id(params[:id]) %>
<h1><%= @band.name %></h1>
<%= button_to "Edit Band", edit_band_url(@band) %>
<%= button_to "Destroy Band", action: "delete", method: "delete" %>
<%= button_to "All Bands", bands_url %>
<%= button_to "Create New Album", new_album_url %>
